*.csproj
*.rar
steam_appid.txt
*.sln
.vs/
*.meta
Assets/Functionnal/Data/TAP/
Assets/Functionnal/Prefabs/TAP/Entities/HexaPlayer.prefab
Assets/Functionnal/Scenes/Debug/Debug_Math.unity
Assets/Functionnal/Prefabs/TAP/Entities/TriEnemy.prefab
Assets/Functionnal/Scripts/TAP/
Assets/Functionnal/Sounds/
Assets/Others/
Assets/Visual/Animations/UI/TAP/
Assets/Visual/Materials/TAP/
Assets/Visual/Prefabs/TAP/
Assets/Visual/PostProcessingVolumes/TAP/
Assets/Visual/Sprites/TAP/
Build/
Library/
obj/
Temp/
